* {
    background: #1e1e2e;
    foreground: #cdd6f4;
    selected-background: #89b4fa;
    selected-foreground: #1e1e2e;
    font: "JetBrainsMono Nerd Font 20";
    spacing: 10;
    padding: 15;
    border-radius: 10px;
}

