* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.1);
}

button {
  border-radius: 30px;
  margin: 15px 20px;
  border-color: black;
  text-decoration-color: #ffffff;
  color: #ffffff;
  background-color: #011423;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35%;
  transition: 0.5s;
}

button:hover {
  background-color: #0f3f63;
  box-shadow: 0 0 10px 3px #0f3f63;
  border-color: #0f3f63;
  outline: none;
}

#lock-image {
  background-image: image(url("Icons/lock.png"));
}

#lock-dark {
  background-image: image(url("Icons/lock-dark.png"));
}

#hibernate {
  background-image: image(url("Icons/hibernate.png"));
}

#logout {
  background-image: image(url("Icons/logout.png"));
}

#reboot {
  background-image: image(url("Icons/reboot.png"));
}

#shutdown {
  background-image: image(url("Icons/shutdown.png"));
}

#hibernate {
  background-image: image(url("Icons/hibernate.png"));
}
