#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Monkeytype
Exec=/opt/brave.com/brave-beta/brave-browser-beta --profile-directory=Default --app-id=picebhhlijnlefeleilfbanaghjlkkna
Icon=brave-picebhhlijnlefeleilfbanaghjlkkna-Default
StartupWMClass=crx_picebhhlijnlefeleilfbanaghjlkkna
