# ~/.local/share/applications/youtube.desktop
[Desktop Entry]
Name=Nextcloud Debian
Exec=brave-beta --new-window http://100.80.63.40:8080/apps/files/files
Icon=/home/bastel/.local/share/icons/ico/nextcloud.ico
Type=Application
Categories=Network;

