#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Password Manager
Exec=/opt/brave.com/brave-beta/brave-browser-beta --profile-directory=Default --app-id=kajebgjangihfbkjfejcanhanjmmbcfd
Icon=brave-kajebgjangihfbkjfejcanhanjmmbcfd-Default
StartupWMClass=crx_kajebgjangihfbkjfejcanhanjmmbcfd
